.novedades{
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
    margin-top: 12%;
    width: 100%;
  height: 100%;

  
.uniformes{
   margin-top: 2%;
   display: flex;
   flex-direction: column;
   
   background-image: url('../../../public/assets/fondo-novedades3.jpg');
   background-size: 100% 100%;
   background-position:center;
   flex-wrap: wrap;
   justify-content:center;
   align-items: center;
   width: 70%;

   .libros{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      border: 1px solid aliceblue;
      width: 90%;
      height: 250px;
      margin-bottom: 70px;
      box-shadow: 1px 2px 2px 3px rgba(3, 3, 3, 0.272);
 .titulo-libro{
   color: rgb(255, 255, 255);
   animation: none;
   box-shadow: none;
   text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.837);
   margin-top: -60px;
   letter-spacing: 1.5px;
   text-decoration: underline ;
 }
 
 .btn-libros{
   display: flex;
   flex-direction: row nowrap;
   button{ 
      letter-spacing: 0.5px;
      background-color: transparent;
      color: rgb(255, 255, 255);
      padding: 0 1rem;
      height: 70px;
      font-size: 1.1rem;
      border-radius: 5px;
      margin: 0 40px;
      box-shadow: 1px 2px 2px 2px rgba(3, 3, 3, 0.272);
      text-shadow: 2px 2px 3px rgb(3, 3, 3);
      transition: transform 0.4s ease; 
      &:hover{
          transform: scale(1.1);        

      }
      
   }
 }
   }
   h1{
      letter-spacing: 1.5px;
      color: rgb(247, 248, 249);
      margin: 10% 0;
      padding: 2rem 1rem;
      text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.778);
      box-shadow: 1px 2px 2px 5px rgba(3, 3, 3, 0.272);
      border-radius: 6px;
      @keyframes titileo {
         0%, 100% {
           opacity: 1;
         }
         50% {
           opacity: 0.8;
         }
       }
   
       animation: titileo 3s infinite;
   }
   .btn-uniformes{
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(247, 248, 249);
      text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.429);
      margin-bottom: 15%;
      gap:20px;
    a{
      padding: 0 1.5rem;
       color: rgb(247, 248, 249);
       font-size: 1.5rem;
       font-weight: bold;
       list-style-type: none; 
       letter-spacing: 0.5px;
       text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.897);
       transition: transform 0.4s ease; 
       &:hover{
           transform: scale(1.1);        

       }

    }

   }
  
}

.img-inscripcion{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 1%;
   box-shadow: 1px 2px 2px 5px rgba(0, 0, 0, 0.157);
   img{
      width: 90%;
      height:450px;
      border: 8px solid aliceblue;
      margin-top: 10px;
   }
}

    .padre{
        display: flex;
        flex-direction: column;
        background-image: url('../../../public/assets/fondo-novedades.png');
        background-size: 100% 100%;
        background-position:center;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
        width: 70%;
        height: 100%;
        margin-bottom: 20px;
       
     
     .calendario{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-radius: 7px;
        width: 55%;
        height: 95%;
        margin-bottom: 15px;
        margin-top: 6%;
        margin-left: 5%;
        text-shadow: 2px 2px 5px rgba(3, 3, 3, 0.429);
        h3{
         
           padding: 50px 50px;
          color: rgba(247, 248, 249, 0.907);
          font-size: 1.7rem;
         margin-left:-12% ;
          width: 100%;
          text-align: center;
          strong{
            font-size: 2rem;
          }
        } 
        p{          
            text-align: left;
            font-family: 'Jost', sans-serif;
            font-size: 1.2rem;
            line-height: 1.5;       
            padding: 7px;
            flex-wrap: wrap;
            color: rgba(247, 248, 249, 0.907);
        }
        }
     }

 }

 .libros-aula{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
   img{
      width: 60%;
      height: 100%;
      padding: 1rem 0;
   }
  }
.libros-ingles{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 15%;
   img{
      width: 60%;
      height: 100%;
      padding: 1rem 0;
   }
  
}

@media (max-width:769px){
   .novedades{
      height: 100%;
      margin-top: 17%;
      .uniformes{
         width: 100%;
      }
      h2{
         padding-top: 1rem;
      }
      .padre{
         width: 100%;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     
         .calendario{
            width: 60%;
            height: 100%;
            text-align: center;
         }
      }
   }
   
}
    
@media (max-width:600px){
   .libros-aula{
      margin-top: 20%;
      img{
         width: 100%;
      }
   }
   .libros-ingles{
      margin-top: 20%;
      img{
         width: 100%;
      } 
   }
   .novedades{
      height: 100%;
    .uniformes{
     
      .btn-uniformes{
         margin-bottom: 20%;
      }
      .libros{
     margin-bottom: 120px;
         .btn-libros{
            button{
            margin:0 20px;
         }
         }
      }
    }
      .padre{
         flex-direction: column;
         justify-content: center;
         align-items: center;
        
   
         .calendario{
            text-shadow: 4px 4px 7px rgba(3, 3, 3, 0.641);
            h3{
               padding: 20px 10px;
            }
            width: 60%;
            height: 100%;
            text-align: center;
    
            p{
               font-size: 1rem;
            }
         }
        
      }
   }
   
}

@media (max-width:500px){
   .novedades{
      height: 100%;
      margin-top: 20%;


      .img-inscripcion{
         width: 100%;
     
         img{
          width: 100%;
            border: none;
      }
   }
      .uniformes{
         h1{
            margin: 17% 0;
            padding: 2rem 2rem;
         }
       
         }
         .btn-uniformes{
            flex-direction: column;
            margin-bottom: 15%;
            
            a{
               padding: 1rem 0;
            }
         }

         .libros{
            width: 95%;
            .titulo-libro{
               margin-top: -30px;
               font-size: 1.7rem;
              }
            .btn-libros{
           margin-top: -30px;
               button{
               margin:0 10px;
            }
            }
         }

      }

      .padre{
         flex-direction: column;
         justify-content: center;
         align-items: center;
         background-image: url('../../../public/assets/fondo-novedades2.jpg');
        
   
         .calendario{
            margin-top: 2%;
            text-shadow: 4px 4px 7px rgba(3, 3, 3, 0.641);
            h3{
               margin-left: -8%;
               padding: 20px 10px;
               font-size: 1.5rem;
               strong{
                  font-size: 1.8rem;
               }
            }
            width: 60%;
            height: 100%;
            text-align: center;
    
            p{
               font-size: 1.1rem;
               padding: 4px;
            }
         }
        
      }
  
   
}
@media (max-width:390px){
   .novedades{
   .uniformes{
   .libros{
      width: 95%;
      .titulo-libro{
         margin-top: -30px;
         font-size: 1.7rem;
        }
      .btn-libros{
     
         button{
         margin:0 10px;
         font-size: 0.9rem;
      }
      }
   }
}
}
}
