
.logo{
    width: 90px;
    height: 79px;
&:hover{
    width: 100px;
    height: 90px;

}
}
.menuItem{
    display: flex;
    flex-flow: column wrap;
  
    .boton{
        color: black;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
    }
}
.cotenedor{
   background-color: rgba(79, 79, 79, 0.322);
   
}
.face{
    color: rgb(0, 149, 255);
    
}
.wpp{
    color: rgb(19, 174, 86);
}


