
.logo{
    width: 60px;
    height: 49px;
&:hover{
    width: 70px;
    height: 60px;

}
}
.menuItem{
    display: flex;
    flex-flow: column wrap;
  
    .boton{
        color: black;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
    }
}